/*#capture-guage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 0;
    width: 50%
}
*/




.ball-selector {
    background-color: aquamarine;
}

.capture-gauge {
    background-color: aqua;
}

.rule {
    background: lime;
    height: 3px;
}

.probability {
    color: #ff4444;
}

.MuiImageListItem-root {
    border-radius: 3px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    background-color: green;
}

.shiny-sprite {
    color: goldenrod;
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
}


.MuiImageListItemBar-root {
    background-color: transparent !important;
}