/*#capture-guage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 0;
    width: 50%
}
*/




.ball-selector {
    background-color: aquamarine;
}

.capture-gauge {
    background-color: aqua;
}

.rule {
    background: lime;
    height: 3px;
}

.probability {
    color: #ff4444;
}

.SpriteTile {
    border-radius: 3px;
    border-color: black;
}